:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424; /* Force un fond sombre */
  color: rgba(255, 255, 255, 0.87); /* Texte blanc */
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  width: 100%;     
  gap: 20px;
  overflow: hidden;        
}

.startScreen__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button__container {
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white; /* Titre en blanc */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; /* Couleur sombre */
  color: white; /* Texte blanc */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hi-hat-container {
  position: relative;
  display: inline-block;
}

.hi-hat-modes {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1a1a1a; /* Fond sombre pour le menu */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Ombre subtile */
}

.hi-hat-container:hover .hi-hat-modes {
  display: block;
}

.hi-hat-modes button {
  background-color: #1a1a1a;
  color: white;
}

.hi-hat-modes button:hover {
  border-color: #646cff;
}
